---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'


const [rankedPosts, tags, recentPosts] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
  getPosts(5),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSccUwCJD4wFdKdkM6cBI-Q9tiWgAwz-Z-xYgOX42leyc3Pong/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>

  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="おすすめ記事" posts={rankedPosts} />
    <BlogPostsLink heading="最新記事" posts={recentPosts} />
    <BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>
